<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-dateFormat/1.0/jquery.dateFormat.js"></script>
	
	<style>		
		th
		{
			text-align: left;
			padding: 10px;
		}
	
		td
		{
			padding: 10px;
		}
		
		div.container
		{
			padding:10px;
		}
	</style>
</head>
	
<body>
	<div id="drawingarea" style="display:flex;">
		<div id="monerocontainer" class="container">			
			<table id="monerotable" class="CurrencyTable" style="border-collapse: collapse; border: 1px solid black;">
				<tr>
					<th colspan="2" class="TitleBar" style="text-align:center; border: 1px solid black;"/>
				</tr>
														
				<tr>				
					<th>					
						Hashrate (0 / 1 / 6):
					</th>
					<td class="HashRate"/>			
				</tr>
				
				<tr>
					<th>
						Balance:
					</th>					
					<td class="Total"/>		
				</tr>		
				
				<tr>		
					<th>
						Confirmed:
					</th>					
					<td class="Confirmed"/>		
				</tr>	
				
				<tr>
					<th>
						Unconfirmed:
					</th>					
					<td class="Unconfirmed"/>	
				</tr>
								
				<tr>
					<td colspan="2">
						&nbsp;
					</td>
				</tr>
				
				<tr>
					<td colspan='2' style="text-align:center; font-weight:bold; border-bottom:1px solid grey;">
						Calculated Monthly Earnings
					</td>
				</tr>
				
				<tr>
					<th>
						Hash Rate:
					</th>
					<td>
						<input class="HashRateInput" value="4200"/>
					</td>
				</tr>
				
				<tr>
					<th>
						Nanopool:
					</th>
					<td class="NanopoolReturn"/>
				</tr>
				
				<tr>
					<th>
						CryptoCompare:
					</th>
					<td class="CryptoCompareReturn"/>	
				</tr>
					
				<tr>
					<td colspan="2">
						&nbsp;
					</td>
				</tr>
				
				<tr>
					<td colspan='2' style="text-align:center; font-weight:bold; border-bottom:1px solid grey;">
						Session Earnings
					</td>
				</tr>
				
				<tr>					
					<th>
						Duration (hrs):
					</th>					
					<td class="Duration"/>	
				</tr>		

				<tr>
					<th>
						Total:
					</th>					
					<td class="SessionEarnings"/>	
				</tr>		
			</table>
		</div>
		
		<br/>
		<br/>
		
		<div id="ethereumcontainer" class="container">
			<table id="ethereumtable" class="CurrencyTable" style="border-collapse: collapse; border: 1px solid black;">
				<tr>
					<th colspan="2" class="TitleBar" style="text-align:center; border: 1px solid black;"/>
				</tr>
														
				<tr>				
					<th>					
						Hashrate (0 / 1 / 6):
					</th>
					<td class="HashRate"/>			
				</tr>
					
				<tr>
					<th>
						Balance:
					</th>					
					<td class="Total"/>		
				</tr>
				
				<tr>		
					<th>
						Confirmed:
					</th>					
					<td class="Confirmed"/>		
				</tr>	
				
				<tr>
					<th>
						Unconfirmed:
					</th>					
					<td class="Unconfirmed"/>	
				</tr>
												
				<tr>
					<td colspan="2">
						&nbsp;
					</td>
				</tr>
				
				<tr>
					<td colspan='2' style="text-align:center; font-weight:bold; border-bottom:1px solid grey;">
						Calculated Monthly Earnings
					</td>
				</tr>
				
				<tr>
					<th>
						Hash Rate:
					</th>
					<td>
						<input class="HashRateInput" value="150"/>
					</td>
				</tr>
				
				<tr>
					<th>
						Nanopool:
					</th>
					<td class="NanopoolReturn"/>
				</tr>
				
				<tr>
					<th>
						CryptoCompare:
					</th>
					<td class="CryptoCompareReturn"/>	
				</tr>
					
				<tr>
					<td colspan="2">
						&nbsp;
					</td>
				</tr>
				
				<tr>
					<td colspan='2' style="text-align:center; font-weight:bold; border-bottom:1px solid grey;">
						Session Earnings
					</td>
				</tr>
				
				<tr>					
					<th>
						Duration (hrs):
					</th>					
					<td class="Duration"/>	
				</tr>		

				<tr>
					<th>
						Total:
					</th>					
					<td class="SessionEarnings"/>	
				</tr>	
			</table>	
		</div>	
		
		<div id="ethereumclassiccontainer" class="container">
			<table id="ethereumclassictable" class="CurrencyTable" style="border-collapse: collapse; border: 1px solid black;">
				<tr>
					<th colspan="2" class="TitleBar" style="text-align:center; border: 1px solid black;"/>
				</tr>
														
				<tr>				
					<th>					
						Hashrate (0 / 1 / 6):
					</th>
					<td class="HashRate"/>			
				</tr>
					
				<tr>
					<th>
						Balance:
					</th>					
					<td class="Total"/>		
				</tr>
				
				<tr>		
					<th>
						Confirmed:
					</th>					
					<td class="Confirmed"/>		
				</tr>	
				
				<tr>
					<th>
						Unconfirmed:
					</th>					
					<td class="Unconfirmed"/>	
				</tr>
												
				<tr>
					<td colspan="2">
						&nbsp;
					</td>
				</tr>
				
				<tr>
					<td colspan='2' style="text-align:center; font-weight:bold; border-bottom:1px solid grey;">
						Calculated Monthly Earnings
					</td>
				</tr>
				
				<tr>
					<th>
						Hash Rate:
					</th>
					<td>
						<input class="HashRateInput" value="150"/>
					</td>
				</tr>
				
				<tr>
					<th>
						Nanopool:
					</th>
					<td class="NanopoolReturn"/>
				</tr>
				
				<tr>
					<th>
						CryptoCompare:
					</th>
					<td class="CryptoCompareReturn"/>	
				</tr>
					
				<tr>
					<td colspan="2">
						&nbsp;
					</td>
				</tr>
				
				<tr>
					<td colspan='2' style="text-align:center; font-weight:bold; border-bottom:1px solid grey;">
						Session Earnings
					</td>
				</tr>
				
				<tr>					
					<th>
						Duration (hrs):
					</th>					
					<td class="Duration"/>	
				</tr>		

				<tr>
					<th>
						Total:
					</th>					
					<td class="SessionEarnings"/>	
				</tr>	
			</table>	
		</div>	
		
		<div id="siacontainer" class="container">
			<table id="siatable" class="CurrencyTable" style="border-collapse: collapse; border: 1px solid black;">
				<tr>
					<th colspan="2" class="TitleBar" style="text-align:center; border: 1px solid black;"/>
				</tr>
														
				<tr>				
					<th>					
						Hashrate (0 / 1 / 6):
					</th>
					<td class="HashRate"/>			
				</tr>
					
				<tr>
					<th>
						Balance:
					</th>					
					<td class="Total"/>		
				</tr>
				
				<tr>		
					<th>
						Confirmed:
					</th>					
					<td class="Confirmed"/>		
				</tr>	
				
				<tr>
					<th>
						Unconfirmed:
					</th>					
					<td class="Unconfirmed"/>	
				</tr>
												
				<tr>
					<td colspan="2">
						&nbsp;
					</td>
				</tr>
				
				<tr>
					<td colspan='2' style="text-align:center; font-weight:bold; border-bottom:1px solid grey;">
						Calculated Monthly Earnings
					</td>
				</tr>
				
				<tr>
					<th>
						Hash Rate:
					</th>
					<td>
						<input class="HashRateInput" value="2000"/>
					</td>
				</tr>
				
				<tr>
					<th>
						Nanopool:
					</th>
					<td class="NanopoolReturn"/>
				</tr>
				
				<tr>
					<th>
						CryptoCompare:
					</th>
					<td class="CryptoCompareReturn"/>	
				</tr>
					
				<tr>
					<td colspan="2">
						&nbsp;
					</td>
				</tr>
				
				<tr>
					<td colspan='2' style="text-align:center; font-weight:bold; border-bottom:1px solid grey;">
						Session Earnings
					</td>
				</tr>
				
				<tr>					
					<th>
						Duration (hrs):
					</th>					
					<td class="Duration"/>	
				</tr>		

				<tr>
					<th>
						Total:
					</th>					
					<td class="SessionEarnings"/>	
				</tr>	
			</table>	
		</div>
		
		<div id="zeccontainer" class="container">
			<table id="zectable" class="CurrencyTable" style="border-collapse: collapse; border: 1px solid black;">
				<tr>
					<th colspan="2" class="TitleBar" style="text-align:center; border: 1px solid black;"/>
				</tr>
														
				<tr>				
					<th>					
						Hashrate (0 / 1 / 6):
					</th>
					<td class="HashRate"/>			
				</tr>
					
				<tr>
					<th>
						Balance:
					</th>					
					<td class="Total"/>		
				</tr>
				
				<tr>		
					<th>
						Confirmed:
					</th>					
					<td class="Confirmed"/>		
				</tr>	
				
				<tr>
					<th>
						Unconfirmed:
					</th>					
					<td class="Unconfirmed"/>	
				</tr>
												
				<tr>
					<td colspan="2">
						&nbsp;
					</td>
				</tr>
				
				<tr>
					<td colspan='2' style="text-align:center; font-weight:bold; border-bottom:1px solid grey;">
						Calculated Monthly Earnings
					</td>
				</tr>
				
				<tr>
					<th>
						Hash Rate:
					</th>
					<td>
						<input class="HashRateInput" value="210"/>
					</td>
				</tr>
				
				<tr>
					<th>
						Nanopool:
					</th>
					<td class="NanopoolReturn"/>
				</tr>
				
				<tr>
					<th>
						CryptoCompare:
					</th>
					<td class="CryptoCompareReturn"/>	
				</tr>
					
				<tr>
					<td colspan="2">
						&nbsp;
					</td>
				</tr>
				
				<tr>
					<td colspan='2' style="text-align:center; font-weight:bold; border-bottom:1px solid grey;">
						Session Earnings
					</td>
				</tr>
				
				<tr>					
					<th>
						Duration (hrs):
					</th>					
					<td class="Duration"/>	
				</tr>		

				<tr>
					<th>
						Total:
					</th>					
					<td class="SessionEarnings"/>	
				</tr>	
			</table>	
		</div>
		
	</div>	
	
	<br/>
	<span id="LastUpdated"/>
	
	<script>
	
	
		var sessionStart = new Date();
		
		var currency = {};
		currency['XMR'] = {};
		currency['XMR']['NAME']			= 'XMR';
		currency['XMR']['CCID']			= '5038';
		currency['XMR']['WALLET'] 		= '48ApCQZYW5RfCo3LpeUspDXqPQRY5xvEqD4B79u9YKixKv7QJr9F4SNJgdNNNswNpdXUGi9xLZ9QKVVJNbChhdF7Lav7G3W';
		currency['XMR']['CONVERSION'] 	= 0.0;
		currency['XMR']['TABLE'] 		= $('#monerotable');
		currency['XMR']['SESSIONTOTAL'] = 0.0;
		
		currency['ETH'] = {};
		currency['ETH']['NAME']			= 'ETH';
		currency['ETH']['CCID']			= '7605';
		currency['ETH']['WALLET'] 		= '0x567076a9805a425c67fb0856fc0a8650478b1944';
		currency['ETH']['CONVERSION'] 	= 0.0;
		currency['ETH']['TABLE'] 		= $('#ethereumtable');
		currency['ETH']['SESSIONTOTAL'] = 0.0;			

		currency['ETC'] = {};
		currency['ETC']['NAME']			= 'ETC';
		currency['ETC']['CCID']			= '5324';
		currency['ETC']['WALLET'] 		= '0x6dB72929266Fe826d4c3291437225F4A1F8d8aB3';
		currency['ETC']['CONVERSION'] 	= 0.0;
		currency['ETC']['TABLE'] 		= $('#ethereumclassictable');
		currency['ETC']['SESSIONTOTAL'] = 0.0;				
		
		currency['SIA'] = {};
		currency['SIA']['NAME']			= 'SIA';
		currency['SIA']['CCID']			= '13072';
		currency['SIA']['WALLET'] 		= '671d27dfbde2ef84e35cfcaca76890020fbfdd40ad4f1b5e6e1c4acdb9d4c930ff82e14c2918';
		currency['SIA']['CONVERSION'] 	= 0.0;
		currency['SIA']['TABLE'] 		= $('#siatable');
		currency['SIA']['SESSIONTOTAL'] = 0.0;		
		
		currency['ZEC'] = {};
		currency['ZEC']['NAME']			= 'ZEC';
		currency['ZEC']['CCID']			= '24854';
		currency['ZEC']['WALLET'] 		= 't1SktZEZ5cZWyxGwzMz57L6UhiSexu14BMC';
		currency['ZEC']['CONVERSION'] 	= 0.0;
		currency['ZEC']['TABLE'] 		= $('#zectable');
		currency['ZEC']['SESSIONTOTAL'] = 0.0;		
		
		currency['XMR']['TABLE']
			.find('input.HashRateInput')
			.change(function () {			
				currency['XMR']['HASHRATE'] = parseFloat($(this).val());
				UpdateTable(currency['XMR']);
			})
			.change();
	
		currency['ETH']['TABLE']
			.find('input.HashRateInput')
			.change(function () {			
				currency['ETH']['HASHRATE'] = parseFloat($(this).val());
				UpdateTable(currency['ETH']);
			})
			.change();
			
		currency['ETC']['TABLE']
			.find('input.HashRateInput')
			.change(function () {			
				currency['ETC']['HASHRATE'] = parseFloat($(this).val());
				UpdateTable(currency['ETC']);
			})
			.change();
			
		currency['SIA']['TABLE']
			.find('input.HashRateInput')
			.change(function () {			
				currency['SIA']['HASHRATE'] = parseFloat($(this).val());
				UpdateTable(currency['SIA']);
			})
			.change();
			
		currency['ZEC']['TABLE']
			.find('input.HashRateInput')
			.change(function () {			
				currency['ZEC']['HASHRATE'] = parseFloat($(this).val());
				UpdateTable(currency['ZEC']);
			})
			.change();
			
		setInterval(function () { 
			//$(currency).each(function (i, n) { 
				UpdateTable(currency['XMR']); 
				UpdateTable(currency['ETH']); 
				UpdateTable(currency['ETC']); 
				UpdateTable(currency['SIA']); 
				UpdateTable(currency['ZEC']); 				
			//});
		}, 1000 * 60 * 5);
		
		function UpdateTable(currency)
		{		
			GetNanopoolPrediction(currency);							
			GetCryptoComparePrediction(currency);					
			GetNanopoolAccountStatus(currency);				
		};
						
		function GetNanopoolPrediction(currency)
		{
			$.ajax({
				async: false,
				url: "https://api.nanopool.org/v1/" + currency['NAME'].toLowerCase() + "/approximated_earnings/" + currency['HASHRATE'],
				success: function (data) { 				
																	
					currency['TABLE']
						.find('td.NanopoolReturn')
						.html(data.data.month.dollars.toFixed(2) + '&nbsp;&nbsp;(' + data.data.hour.dollars.toFixed(2) + ' / hr)');
					
					currency['CONVERSION'] = parseFloat(data.data.month.dollars) / parseFloat(data.data.month.coins);								

					$("#LastUpdated")
						.html('Last Updated: ' + $.format.date(new Date(), 'MM/dd/yyyy hh:mm'));
				}
			});	
		}
		
		function GetCryptoComparePrediction(currency)
		{		
			$.ajax({
				async: false,
				url: "https://www.cryptocompare.com/api/data/CoinSnapshotFullById?id=" + currency['CCID'],
				success: function (data) { 
							
					var hashRate = ((currency['NAME'] == "ETH" || currency['NAME'] == "DCR") ? currency['HASHRATE'] * 1000000 : currency['HASHRATE']);
							
					var myShare = hashRate / parseFloat(data.Data.General.NetHashesPerSecond);
					var hourly = myShare * parseFloat(data.Data.General.BlockReward) * currency['CONVERSION'] / parseFloat(data.Data.General.BlockTime) * 60.0 * 60.0;
					var monthly = hourly * 24.0 * 31.0;
					
					currency['TABLE']
						.find('td.CryptoCompareReturn')
						.html(monthly.toFixed(2) + '&nbsp;&nbsp;(' + hourly.toFixed(2) + ' / hr)');				
					
					$("#LastUpdated").html('Last Updated: ' + $.format.date(new Date(), 'MM/dd/yyyy hh:mm'));
				}
			});		
		}
		
		function GetNanopoolAccountStatus(currency)
		{				
			$.ajax({
				async: false,
				url: "https://api.nanopool.org/v1/" + currency['NAME'].toLowerCase() + "/user/" + currency['WALLET'],
				success: function (data) { 
					
					var workers = '';
															
					$(data.data.workers).each(function (i,n) {																
						if (n.hashrate > 0.0)
						{
							workers += ((i > 0 ? ', ' : ' - ') + n.id);
						}					
					});
							
					var previousConfirmed 	= parseFloat(currency['TABLE'].find('td.Confirmed').html()) || 0.0;
					var currentConfirmed 	= parseFloat(data.data.balance);
					var currentUnconfirmed 	= parseFloat(data.data.unconfirmed_balance);
					var currentTotal 		= currentConfirmed + currentUnconfirmed;
					var totalEarned			= currentTotal * currency['CONVERSION'];
							
					if (previousConfirmed == 0.0)
					{
						//Do nothing
					}
					else if (previousConfirmed == currentConfirmed)
					{
						//Do nothing
					}
					else if (previousConfirmed < currentConfirmed)
					{
						//Balance incremented, add the difference
						currency['SESSIONTOTAL'] += (currentConfirmed - previousConfirmed);
					}
					else if (previousConfirmed > currentConfirmed)
					{
						//Balance was deposited, roll over
						currency['SESSIONTOTAL'] += currentConfirmed;
					}
							
					var currentDuration	= (new Date() - sessionStart) / 1000.0 / 60.0 / 60.0;
					var sessionRate 	= currency['SESSIONTOTAL'] / currentDuration * currency['CONVERSION'];
								
					currency['TABLE'].find('.TitleBar').html(currency['NAME'] + workers);
					
					currency['TABLE'].find('td.HashRate').html(data.data.hashrate + ' / ' + data.data.avgHashrate.h1 + ' / ' + data.data.avgHashrate.h6);								
					
					currency['TABLE'].find('td.Total').html(currentTotal.toFixed(8) + '&nbsp;&nbsp;($' + totalEarned.toFixed(2) + ')');					
					currency['TABLE'].find('td.Confirmed').html(currentConfirmed.toFixed(8));
					currency['TABLE'].find('td.Unconfirmed').html(currentUnconfirmed.toFixed(8));
										
					currency['TABLE'].find('td.Duration').html(currentDuration.toFixed(2));
					currency['TABLE'].find('td.SessionEarnings').html(currency['SESSIONTOTAL'].toFixed(8) + '&nbsp;&nbsp;(' + sessionRate.toFixed(2) + ' / hr)');
									
					$("#LastUpdated").html('Last Updated: ' + $.format.date(new Date(), 'MM/dd/yyyy hh:mm'));					
				}
			});	
		}	
	</script>
</body>
